/*** Autor: Janaina Rodrigues de Miranda  ***/
/*** Curso desenvolvimento web            ***/
/*** Criado em: 14 de Novembro de 2020    ***/
/*** Atualizado em: 23 de Novembro de 2020***/
body{
    background-color:#8FD8D2;
    color: #DF744A;
    height:auto;

}

#myHeader,#meucabecalho,#cabecalho{
    color: white;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-transform: uppercase;
}

ul,li{
    align-items:right ;
    text-align: left;
}

.rodape{
    position: absolute;
    
   width:100%;
   height:30px;  
   background-color:#233237 ;
   color: white;
   text-align: center;
   
    
}
.mybody{
    color:#DCB239;
    font-size: 25px;
}

.cabecalho{
    font-size: 25px; 
}

.cabecalho1{
    font-size: 35px;
}

.link{
    padding: 20px;
}
.conteiners{
    background-color: #FEDCD2;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 10px;

    margin: 10px;
}

